# Git files
.git
.gitignore

# Node specific
node_modules
npm-debug.log
frontend/ovos-settings-ui/node_modules
frontend/ovos-settings-ui/dist
frontend/ovos-settings-ui/build

# Python specific
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
*.egg-info
dist
build
*.egg

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode
.idea

# Docker specific
Dockerfile
.dockerignore

# Other
*.log
*.swp 