# Git files
.git
.gitignore

# Python specific
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
*.egg-info
dist
build
*.egg

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode
.idea

# Docker specific
Dockerfile
.dockerignore

# Other
*.log
*.swp 